@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
   font-family:  'Lexend', sans-serif !important;
}

.fs-99{
    font-size: 96px !important;
}

@media(max-width: 867.98px) {
    .fs-99{
        font-size: 66px !important;
    }
}

body{
    margin-left: 120px;
    margin-right: 75px;
}

#welcome{
    min-height: 100vh;
}

.btn-custom-1{
    position: absolute;
    width: 278px;
    height: 76px;
    padding: 25px 81px;
    color: black;
    background: #D9D9D9;
    border-radius: 19px;
}

.btn-custom-1:hover{
    color: white;
    background: black;
}

#aboutme{
    min-height: 100vh;
}

#skills{
    min-height: 100vh;
}

.rectangle-1{
    position: absolute;
    width: 1248px;
    height: 694px;
    background: #141414;
    border-radius: 63px;
}

#projects{
    min-height: 200vh;
}

#services{
    min-height: 250vh;
    margin-top: 372px;
}

